
<h1>Welcome to ItemListMerger</h1>


<!-- BEGIN NEXT ARRAY MERGE TESTER -->

<h2>THE RIGHT SOLUTION - KEEP ALL UNIQUE OBJECTS (ALL OBJECTS ARE UNIQUE)</h2>

<p>
    All objects in the provided arrays are unique. Just because some objects have identical property values, it does not make them identical. The way these objects were initialized, we
    would still be referring to different objects while accessing them.
</p>

<h3>A Different Story would have been...</h3>
<pre>
    <code [innerHTML]="code"></code>
</pre>

<p>
    In the above scenario we would have three duplicate objects in our array.
</p>

<h3>The solution to your provided example</h3>

<table style="margin-bottom: 60px;">
    <tr>
        <th>List#1</th>
        <th>List#2</th>
        <th>Merged List</th>
    </tr>
    <tr>
        <td style="padding-right: 100px;">
            <div *ngFor="let item of itemList1">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
        </td>

        <td>
            <div *ngFor="let item of itemList2">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
        </td>

        <td *ngIf="itemList2WasMerged">

            <div *ngFor="let item of mergedItemList2">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
            
        </td>

    </tr>

</table>

<p *ngIf="itemList2WasMerged">
    Time taken to execute function: {{ t2 }} milliseconds.
    <br/>
    Based on these results we can decide which function we want to use.
</p>

<p>
    Click below to merge Item Lists and keep all unique objects.
</p>

<!-- We could either assign our events here or in the component's typescript. -->
<button (click)="mergeItemList3([itemList1, itemList2])">MERGE ITEMS LIST</button>

<!-- END ARRAY MERGE TESTER -->

<br/>
<hr/>
<br/>

<!-- BEGIN NEXT ARRAY MERGE TESTER -->

<h3>The solution to ACTUAL duplicate objects:</h3>

<pre>
    <code [innerHTML]="code2"></code>
</pre>

<p>
    For this solution, we have assigned our objects into JavasScript's Sets which disallow for duplicate items being added into them.
    We can clearly see how blazing fast this algorithm is.
</p>

<table style="margin-bottom: 60px;">
    <tr>
        <th>List#1</th>
        <th>List#2</th>
        <th>Merged List</th>
    </tr>
    <tr>
        <td style="padding-right: 100px;">
            <div *ngFor="let item of itemList3">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
        </td>

        <td>
            <div *ngFor="let item of itemList4">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
        </td>

        <td *ngIf="itemList3WasMerged">

            <div *ngFor="let item of mergedItemList3">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
            
        </td>

    </tr>

</table>

<p *ngIf="itemList3WasMerged">
    Time taken to execute function: {{ t3 }} milliseconds.
    <br/>
    Based on these results we can decide which function we want to use to merge unique objects into our array.
</p>

<p>
    Click below to merge Item Lists and keep all unique objects.
</p>

<!-- We could either assign our events here or in the component's typescript. -->
<button (click)="mergeItemList4()">MERGE ITEMS LIST ACTUAL DUPLICATES</button>

<!-- END ARRAY MERGE TESTER -->

<br/>
<hr/>
<br/>

<p>For the following two solutions, I have created two different methods to compare object values and only keep the objects which have all distinct values.</p>

<h3>The solution to unique valued objects #1:</h3>

<table style="margin-bottom: 60px;">
    <tr>
        <th>List#1</th>
        <th>List#2</th>
        <th>Merged List</th>
    </tr>
    <tr>
        <td style="padding-right: 100px;">
            <div *ngFor="let item of itemList1">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
        </td>

        <td>
            <div *ngFor="let item of itemList2">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
        </td>

        <td *ngIf="itemList0WasMerged">

            <div *ngFor="let item of mergedItemList0">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
            
        </td>

    </tr>

</table>

<p *ngIf="itemList0WasMerged">
    Time taken to execute function: {{ t0 }} milliseconds.
    <br/>
    {{ m0 }}
    <br/><br/>
    Based on these results we can decide which function we want to use to merge distinct valued objects into our array.
</p>

<p>
    Click below to merge Item Lists.
</p>

<!-- We could either assign our events here or in the component's typescript. -->
<button (click)="mergedItemListsUnion([itemList1, itemList2])">MERGE ITEMS LIST #1</button>

<!-- END ARRAY MERGE TESTER -->

<br/>
<hr/>
<br/>

<!-- BEGIN NEXT ARRAY MERGE TESTER -->

<h3>The solution to unique valued objects #2:</h3>

<table style="margin-bottom: 60px;">
    <tr>
        <th>List#1</th>
        <th>List#2</th>
        <th>Merged List</th>
    </tr>
    <tr>
        <td style="padding-right: 100px;">
            <div *ngFor="let item of itemList1">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
        </td>

        <td>
            <div *ngFor="let item of itemList2">
                <span>{{  item.id }}</span> |
                <span>{{  item.name }}</span> |
                <span>${{  item.price }}</span>
            </div>
        </td>

        <td *ngIf="itemList1WasMerged">

            <div *ngFor="let item of mergedItemList1">
                <span>{{ item.id }}</span> |
                <span>{{ item.name }}</span> |
                <span>${{ item.price }}</span>
            </div>
            
        </td>

    </tr>

</table>

<p *ngIf="itemList1WasMerged">
    Time taken to execute function: {{ t1 }} milliseconds.
    <br/><br/>
    Based on these results we can decide which function we want to use to merge distinct valued objects into our array.
</p>

<p>
    Click below to merge Item Lists.
</p>

<!-- We could either assign our events here or in the component's typescript. -->
<button (click)="mergeItemListWithLoadDashUnion([itemList1, itemList2])">MERGE ITEMS LIST #2</button>

<!-- END ARRAY MERGE TESTER -->

<br/>
<hr/>
<br/>
